<%
	require './compatcgi'

	rack_params = Rack::Utils.parse_query(request.query_string)
	cgi = CompatCGI.new(request)

%><!DOCTYPE html>
<HTML>
	<HEAD>
		<TITLE>'s Lair III 〜ソースの棲処〜</TITLE>
		<STYLE type='text/css'><!--
			p {
				color: red;
			}
			table {
				border: solid 1px #000000;
//				border-collapse: collapse;
			}
			td {
				border: solid 1px #000000;
				vertical-align: bottom;
				padding: 0px;
			}
			img {
				display: block;
			}
		--></STYLE>
	</HEAD>
	<BODY>

	<H1>'s Lair III</H1>

	<HR>

	<P><A href='indexes/'>ISOイメージ/イメージ内のRPMを閲覧/ダウンロードする。</A>

	<HR>

	<H3>dnf リポジトリ(/etc/yum.repos.d/slair.repo)の設定例</H3>
	<PRE><TT><CODE>[Slair-BaseOS]
name=Red Hat Enterprise Linux x.x - BaseOS
baseurl=http://hostname/indexes/discs/rhel-x.x-x86_64-dvd/BaseOS
gpgcheck=0
[Slair-AppStream]
name=Red Hat Enterprise Linux x.x - AppStream
baseurl=http://hostname/indexes/discs/rhel-x.x-x86_64-dvd/AppStream
gpgcheck=0</CODE></TT></PRE>

	<HR>

	</BODY>
</HTML>

